thats how to define a function
def function_name(parameter):

In [1]:
def simple():
    print("My First Function")

In [2]:
simple()

My First Function

Creating a function with a parameter
when you define a function with parameter, you must return it

In [3]:
def plus_ten(a):
    return a + 10

In [4]:
plus_ten(2)

12

defining a function part 2

In [11]:
def plus_ten(a):
    result = a + 10
    print("result is: ")
    return result

In [12]:
plus_ten(2)

result is:

12

Using a fucntion in another function

In [13]:
def wage(w_hours):
    return w_hours * 25
def with_bonus(w_hours):
    return wage(w_hours) + 50

In [14]:
wage(8), with_bonus(8)

(200, 250)

Conditional statments and function

In [18]:
def add_10(m):
    if m >= 100:
        m = m + 10
        return m 
    else:
        return "save more!"

In [19]:
add_10(110)

120

In [20]:
add_10(40)

'save more!'

Creating functions containing few papamters

In [21]:
def subtract_bc(a,b,c):
    result = a - b*c
    print ("Paramter A euals ", a)
    print ("Paramter B euals ", b)
    print ("Paramter C euals ", c)
    return result

In [22]:
subtract_bc(10, 3, 2)

Paramter A euals  10
Paramter B euals  3
Paramter C euals  2

4

Built in function in python
can be applied directly

In [23]:
type(10)

int

In [25]:
type(2.4)

float

In [26]:
max(10,20,30)

30

In [27]:
min(10,30,5,50)

5

In [28]:
z = -20
abs(z)

20

In [29]:
list_1 = [1,2,3,4]

In [30]:
sum(list_1)

10

round(x,y) returns the float of its argument (x), rounded to a specified umber of digites (y) after the decimal point

In [31]:
round(3.555, 2)

3.56

In [32]:
round(3.2)

3

In [33]:
2 ** 10

1024

In [34]:
pow(2,10)

1024

In [35]:
len("Holiday!")

8

In [36]:
len('holiday')

7